{% extends 'index.html' %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script  src="{{ url_for('static',filename='main.js') }}" async > </script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Meeting Room {% endblock %}</title>
{% endblock %}
<body>
{% block body %}

    {% block header %}
        <span>
            <h1 style="margin: 0 25% 0 25%; padding: 0 ;position:relative" >Create or Join a meeting Room</h1>
        </span>
    {% endblock %}
    <section>
        <div class="show-modal">
            <button class="show-modal1" onclick="join_room()">Join a Meeting</button>
            <button class="show-modal2" onclick="create_room()">Create meeting</button>
        </div>
        <span class="overlay"></span>
        <div class="modal-box">
            <i class="fa-regular fa-circle-check"></i>
            <h2>Add Your Name</h2>
            <span>You have successfully downloaded all the source code files.</span>
            <label for="text" id="text">Username</label><input type="text" name="text" id="text">

            <div class="buttons">
                <button class="close-btn">Ok, Close</button>
            </div>
        </div>
    </section>
    <script>

    </script>

{% endblock %}
</body>