<!DOCTYPE html5>
<html lang="en">

{% block head %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    {% block title %} {% endblock %}
{% endblock %}

{% block body %}
    {% block header %}
        <header>
            <div class="wrapper row">
                <button class="nav-toggle">
                    <span class="icon-area"></span>
                </button>
                <a class="logo" href="{{ url_for('magicMeet_home') }}">Magic Meeting</a>
                <nav class="nav">
                    <ul>
                        <li><a href="{{ url_for('magicMeet_home') }}">Home</a></li>
                        <li><a href="{{ url_for('why_section') }}">Why Us</a></li>
                        <li><a href="{{ url_for('feedback_section') }}">Our FeedBack</a></li>
                        <li><a href="{{ url_for('about_section') }}">About Us</a></li>
                        <li><a href="{{ url_for('join_room') }}">Join Meeting</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    {% endblock %}

    <div class="banner">
        <div class="content">
        </div>
    </div>



    <script>
        const cusMenu = document.querySelector(".nav-toggle");
        const nav = document.querySelector(".nav");

        cusMenu.addEventListener("click", () => {
            nav.classList.toggle("openMenu");
        });
    </script>

{% endblock %}

</html>