{% extends "index.html" %}
{% block head %}
    <title>Why Us</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Web layout</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
	{% endblock %}

   {% block body %}
   {% block header %}

        <div class="wrapper row">
            <button class="nav-toggle">
                <span class="icon-area"></span>
            </button>
            <a class="logo" href="{{ url_for('magicMeet_home') }}">Magic Meeting</a>
            <nav class="nav">
                <ul>
                    <li><a href="{{ url_for('magicMeet_home') }}">Home</a></li>
                    <li><a href="{{ url_for('why_section') }}">Why Us</a></li>
                    <li><a href="{{ url_for('feedback_section') }}">Our FeedBack</a></li>
                    <li><a href="{{ url_for('about_section') }}">About Us</a></li>
                    <li><a href="{{ url_for('join_room') }}">Join Meeting</a></li>
                </ul>
            </nav>
        </div>

	{% endblock %}
    <section id="why-us">
    <div class="container">
      <h1>Why Choose Magic Meet?</h1>
      <ul>
        <li>Immersive Virtual Venue: Experience the energy and engagement of in-person conferences with our immersive virtual venue.</li>
        <li>Interactive Sessions: Engage in real-time discussions, ask questions, and get instant responses through our interactive sessions.</li>
        <li>Networking Opportunities: Build meaningful connections with like-minded professionals through virtual meeting rooms, breakout sessions, and AI-powered matchmaking.</li>
        <li>Sponsorship and Exhibitor Engagement: Maximize brand exposure and lead generation with our virtual exhibition booths and sponsor showcases.</li>
        <li>Seamless User Experience: Enjoy a user-friendly interface, easy navigation, and seamless access to all conference features.</li>
        <li>Flexible Access: Join conferences from anywhere, at any time, eliminating geographical and scheduling constraints.</li>
        <li>Cutting-Edge Technology: We leverage the latest technology to provide a secure, reliable, and high-quality conference experience.</li>
        <li>Future-Proof Solution: Stay ahead of the curve with our innovative platform that adapts to the changing landscape of professional events.</li>
      </ul>
    </div>
  </section>
    <footer>
    <p>&copy; 2023 Magic Meet. All rights reserved.</p>
  </footer>
    {% endblock %}
